*{
    
}
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(./images/banner.jpg);
    text-align: center;
    height: 380px;
    color: white;
    padding-top: 70px;
}

h1{
    margin: 0px;
    font-size: 3em;
}
.ul-h{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
a{
    color: white;
    text-decoration: none;
}
li{
    margin-right: 15px;
    list-style: none;
    padding: 10px;
}
#special{
    border: 1px solid white;
    border-radius: 40px;
}

.FirstSection{
    display: flex;
    flex-direction: row;
}
main{

}
.FirstArticle{
    width: 900px;
}
.sidebar{
    margin-left: 100px;
    height:700px;
    width: 400px;
}
.box-sidebar{
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
}
.sidebar > img{
    width: 50px;
    height: 50px;
    left: 0px;
}
.box-sidebar > p{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 0.75em;
}
.SecondSection{
    background-color:rgb(232, 248, 255);
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 440px;
}
.SS-Box{
    width: 330px;
    height: 360px;
    text-align: center;
}
.SS-Box > p{
    text-align: left;
    margin: 0px;
    margin-bottom: 0px;
}
.SS-Box > a{
    display: flex;
    text-decoration: none;
    background-color: rgb(255, 165, 31);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    width: 130px;
    height: 30px;
    margin-left: 15px;
    padding-top: 15px;
    padding-left: 13px;
    border-style: none;
    border-radius: 50px;
}
footer{
    background-color: rgb(34, 34, 34);
    height: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: white;
}
.F-box{
    display: flex;
    margin-top: 60px;
    height: 450px;
    background-color: rgb(34, 34, 34);
}
/*Aqui eu preciso tomar cuidado pra fazer a diferença entre a ul de cima e esta aqui debaixo:*/
.F-box > ul{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
