
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-title{
  color: rgba(0,0,0.6);
}

.App {
  background-image: url('../public/cat.gif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 98vh;
  color: white;
}

.content {
  padding: 2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  text-align: center;
  width: 150px;
}

.skill-box img {
  width: 50px;
  height: 50px;
}

.App-header {
  //background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

section {
  margin-bottom: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
